@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-header {
    margin:20px 100px;
    height: 50px;
}


.titoloprincipale {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
}

img {
    height: 100%;
    vertical-align: middle;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 50px 50px;
}


.addtask {
    color: aliceblue;
    background-color: rgb(62, 147, 187);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.addsection {
    color:darkgray ;
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 15px;
}

.row {
    margin: 30px 0px 10px 0px
}

.freccia {
    font-size: 30px;
}

h1 {
    display: inline;
}

.bottoniadd {
    margin-top: 20px;
}

.check {
    font-size: 12px;
    border: 1px solid #005c80;
    border-radius: 50%;
    padding: 4px 6px;
    color: #005c80;
    margin-right: 20px;
}

.bold {
    font-weight: bold;
}

.cross {
    font-size: 12px;
    border: 1px solid #800000;
    border-radius: 50%;
    padding: 4px 6px;
    color: #800000;
    margin-right: 20px;
}

.checkrow {
    margin-top: 30px;
    margin-bottom: 30px;
}

.editorial.goals {
    background-color: darkviolet;
}

.editorial.Recruiting {
    background-color: rgb(26, 197, 69);
}

.editorial.mobile {
    background-color: #e6891f;
}

.editorial {
    color: aliceblue;
    background-color: rgb(62, 147, 187);
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px;
}


