* {
    margin: 0;
    box-sizing: border-box;
}

.conteinerheader {
    margin:20px 100px;
}

.logo, .titolo {
    display: inline-block;
}

.titolo {
    height: 50px;
    line-height: 50px;
}

.conteiner {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 50px 50px;
}


.task {
    color: aliceblue;
    background-color: rgb(62, 147, 187);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.section {
    color:darkgray ;
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 15px;
}