* {
    margin: 0;
    box-sizing: border-box;
}

.container-header {
    margin:20px 100px;
    height: 50px;
}


.titoloprincipale {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    vertical-align: middle;
}

img {
    height: 100%;
    vertical-align: middle;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 50px;
    padding: 20px 50px 50px;
}


.addtask {
    color: aliceblue;
    background-color: rgb(62, 147, 187);
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.addsection {
    color:darkgray ;
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 15px;
}

.primarow {
    margin-top: 50px;
}

.freccia {
    font-size: 30px;
}

h1 {
    display: inline;
}

.bottoniadd {
    margin-top: 20px;
}

.check {
    font-size: 12px;
    border: 1px solid #005c80;
    border-radius: 50%;
    padding: 5px;
    color: #005c80;

}